
.trending-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trendingMovies, .myList, .trendingTV {
  width: 95vw;
  display: flex;
  overflow-x: scroll;
}

.trendingMovies img, .myList img, .trendingTV img {
  border-radius: 20px;
  margin: 0px 0px 10px 10px;
  cursor: pointer;
}

