.trendingMovies {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 95vw;
}

.trendingMovies div {
  padding-left: 20px;
}

.trendingMovies img {
  border-radius: 20px;
  cursor: pointer;
}

.trendingMovies img.active {
  opacity: 0.5;
}