.trendingTV {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 95vw;
}

.trendingTV div {
  padding-left: 20px;
}

.trendingTV img {
  border-radius: 20px;
  cursor: pointer;
}

.trendingTV img.active {
  opacity: .5;
}
.titles {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 1.5rem;
  padding: 10px;
}

.titles::first-letter {
  color: red;
}